/*Colors*/

.bg-light-gray {
    background-color: #f5f5f5; /* Light gray */
}

/* Button */
.btn {
    width: auto;
    height: 50px;
    top: 45%;
    border: none;
}

.btn-green {
    background-color: #3C7C42;
}

.btn-green:hover {
    background-color: #3C7C42;
}

.btn-blue {
    background-color: #156EA6;
}

.btn-blue:hover {
    background-color: #156EA6;
}

body {
    font-family: "ADLaM Display";
    background-color: #F8FFF4;
}

/* Logo */
.logo-img {
    max-height: 50px;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    color: white;
    overflow: hidden;
    height: 350px;
}

.banner img {
    flex: 2;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%) blur(2px);
}

.banner-text {
    position: absolute;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.8rem;
    left: 5%;
    top: 30%;
    transform: translateY(-50%);
    width: auto;
}

.info-box {
    flex: 1;
    background: #4caf50;
    color: white;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.info-box p {
    font-size: 1.2em;
    margin-bottom: 1rem;
}

.info-box button {
    padding: 0.8rem 1.5rem;
    border: none;
    background: #2c88d9;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.info-box button:hover {
    background: #1f6cb1;
}

/* Cards */
.event-card {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 2%;
}

#upcomingCarousel .event-card {
    background-color: #D2EEC3;
}

#pastCarousel .event-card {
    background-color: #C1E6FD;
}

.event-card img {
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    height: auto;
    min-height: 220px;
    max-height: 250px;
    object-fit: cover;
}

/* Footer */
footer {
    background-color: #f5f5f5;
    color: #000;
}